@charset "UTF-8";
body{
	height:100%;
	margin: 0;
   padding: 0;
   
}
#main {
	
	margin:auto;
	height:1100px;
	width:1600px;
}
#background {
	
	background-image:url("https://images.unsplash.com/photo-1445116572660-236099ec97a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
	background-size :cover;	
	width:100%;
	height:600px;
	background-repeat:no-repeat;
	margin: 0;
	padding:0;
	
}
#Medit_img_cover{
	   position: absolute;
   height: 600px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
   z-index:1;
	
}
#menu_font1{  
	width:100%;
	position:absolute;
	color:#fff;
	font-size:50pt;
	text-align:center;
	padding:15px 0;
	z-index: 4;
	margin: 10% 0% ;
}
#menu_font2{
position:absolute ;
	width:100%;
	color:#fff;
	font-size:15pt;
	text-align:center;
	font-weight: light;
	margin:20% 0;
	z-index: 4;
}
#Medit_menu{/*두개의 메뉴를 감싸는 전체 div*/

	width:50%;
	position:absolute;
	float:left;
	z-index: 3;
	margin: 26% ; 
	text-align: center;
}
#Medit_menu ul{

	width:100%;
	text-align: center;
	line-height: 50px;/*수평으로 텍스트를 가운데 오게함*/
	z-index: 3;
}

#Medit_menu ul li{/*일대일문의, 자주하는 질문 각 객체속성*/
	border:2px solid rgb(79,108,79) ;
	float:left;
	color: #fff;
	width:200px;
	height:50px;
	text-align: center;
	font-size: 18pt;
	margin: 0;
	padding:2px 0;
	
}

#Medit_menu ul li:hover{
	cursor:pointer;
	background: rgb(79,108,79);
	transition-duration:0.4s; /*바탕색이 변경되는 시간을 늘려줌*/
}
#Medit_menu a:link {color:#fff; text-decoration: none;}/*밑줄없앰*/
#Medit_menu a:visited{color:#fff; text-decoration: none; }/*방문후 글 색 변경없음*/
#Medit_menu a:hoever{transition-duration:0.3s; color:#fff;}