@charset "EUC-KR";

    body {
        margin: 0;
        width: 100%;
    }

    li {
        list-style: none;
        display: inline-block;
    }

    a {
        text-decoration: none;
     }

    /*스토어 헤더*/
#place_main_img {
   	position: absolute;
	margin: 5% 0;
	border: 1px solid rgb(0, 0, 0, 73);
	background-image:
		url("https://www.mexperience.com/wp-content/uploads/Coffee-Shop-Scene-NBS-680x340.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	text-align: center;
	font-size: 20px;
	color: white;
	padding: 50px auto;
}

#img_cover{/*사진*/
	
   position: absolute;
   height: 600px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
   z-index:1;

}
#s_font1{/*맨 위 카페트레이더스*/
	width:100%;
	position:absolute;
	color:#fff;
	font-size:50pt;
	text-align:center;
	padding:15px 0;
	z-index: 4;
	margin: 13% 0% ;
}
#s_font2{/*카페트레이더스는 대한민국의 카페문화 텍스트*/

	position:absolute ;
	width:100%;
	color:#fff;
	font-size:15pt;
	text-align:center;
	font-weight: light;
	margin:20% 0;
	z-index: 4;
}

#place_main_information{
	width:100%;
	position:absolute;
	float:left;
	z-index: 3;
	margin: 26% 25% ; 
	text-align: center;
	
	
}
#place_main_information ul{
	width:100%;
	text-align: center;
	line-height: 50px;/*수평으로 텍스트를 가운데 오게함*/
	z-index: 3;
}
#place_main_information ul li {
	border: 2px solid rgb(79,108,79);
	float:left;
	color: #fff;
	width:200px;
	height:50px;
	text-align: center;
	font-size: 18pt;
	margin: 0;
	padding:2px 0;
}
#place_main_information ul li:hover{
	background: rgb(79,108,79);
	transition-duration:0.4s; /*바탕색이 변경되는 시간을 늘려줌*/
	
	
}

li a:link {color:#fff; text-decoration: none;}/*밑줄없앰*/
li a:visited{color:#fff; text-decoration: none; }
li a:hoever{transition-duration:0.3s; color:#fff;}

    /* 100px 빈공백*/
    #blank {
        width: 100%;
        height: 100px;
    }

    /* 본문 레이아웃 */
    #place_main {
        width: 90%;
        margin: auto;
    }

    #place_best {
        text-align: center;
    }

    #place_best_imgslide img {
        height: 500px;
        margin: auto;
    }

    #place_fillter {
        border: 1px solid black;
        height: 200px;
        text-align: center;
        line-height: 11;
        font-size: 20px;
        margin: auto;
    }

    #place_list {
        height: auto;
        margin: auto;
        text-align: center;
    }

    #place_list>div {
        display: inline-grid;
        width: 286px;
        height: 380px;
        margin: 5px 5px;

    }

    #place_list_more {
        border: 2px solid gray;
        border-radius: 100px;
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        line-height: 2.5;
        margin: auto;
    }

    #place_list_more a {
        display: block;
    }

